body {
  background-image: url("https://www.marshalltown.k12.ia.us/media/cms/BobcatPride_logo_34DE656DAB236.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
